/* Rotate x-Axis Labels for the BGL AUC/t chart */
.auct-chart .flot-x-axis div.flot-tick-label { 
    transform: translateY(0.4em) rotate(-90deg); /* CSS3 */
    -ms-transform: translateY(0.4em) rotate(-90deg); /* IE */
    -moz-transform: translateY(0.4em) rotate(-90deg); /* Firefox */
    -webkit-transform: translateY(0.4em) rotate(-90deg); /* Safari and Chrome */
    -o-transform: translateY(0.4em) rotate(-90deg); /* Opera */
}

/* Tweak Axis Label size (per https://github.com/markrcote/flot-axislabels/issues/5) */
.axisLabels {
    font-size: 12px;
}
